@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    font-family: 'montserrat', sans-serif;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-position: top center;
  }
  
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 16px 0px 16px;
    border-bottom: 3px solid gray;
  
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
  }
  
  header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    color: aliceblue;
  }
  
  .location .date {
    color: #fff;
    font-size: 16px;
    color: aliceblue;
  }
  
  .current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    color: chocolate;
  }
  
  .current .temp span {
    font-weight: 500;
  }
  
  .current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    color: aqua;
    padding : 40px
  }
  
  .current .hi-low,
  .humidity,
  .wind {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
    color: darkgoldenrod;
  }

  .title{
     text-align: center;
     color : white;
     background-image : linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
     display: flex;
     flex-direction: column; /* Ensures items stack vertically */
     justify-content: center; /* Vertically centers content */
 /* Horizontally centers content */
     padding: 30px;
     

  }

  .current .hi-low::before {
    content: 'Min temp: ';
    font-weight: 500;
  }
  
 

  .buttons{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .get-location-button{
    background-color: #3498db; /* Button background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding around text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  }
  
  .get-location-button:hover {
    background-color: #2980b9; /* Button background color on hover */
  }

  
 
 .forecast-days{
  display: flex;
  padding-top: 30px;;
 }

 .forecast-card{
  width: 200px;
      height: 200px;
      background: linear-gradient(45deg, #3498db, #9b59b6); /* Gradient background */
      border: 2px solid #2980b9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
      color: #fff; /* Text color */
      text-align: center;
      padding: 20px;
      font-size: 12x;
      border-radius: 10px; /* Rounded corners */
      transition: transform 0.3s ease-in-out; /* Add a transform transition for hover effect */

 }

 .forecast-card:hover {
  transform: scale(1.05); /* Add scale transformation on hover */
 }
 .forecast{
  padding-top: 20px;
 }

 .date1,
 .date2,
  .date3,
  .date4,
  .date5,
  .date6 {
    padding-bottom: 10px;;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
    color: darkgoldenrod;
  }

  .temp1,
  .temp2,
  .temp3,
  .temp4,
  .temp5,
  .temp6,
  .weather1,
  .weather2,
  .weather3,
  .weather4,
  .weather5,
  .weather6{

    font-size:20px;
    padding-bottom:10px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  }

  .hi-low1,
  .hi-low2,
  .hi-low3,
  .hi-low4,
  .hi-low5,
  .hi-low6,
  .humidity1,
  .humidity2,
  .humidity3,
  .humidity4,
  .humidity5,
  .humidity6,
  .wind1,
  .wind2,
  .wind3,
  .wind4,
  .wind5,
  .wind6{
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
    color: magenta;
  }

